.emoji {
    position: absolute;
    top: -2em;
    font-size: 2rem;
    animation: fall linear forwards;
    z-index: -1;
}

@keyframes fall {
    to {
        transform: translateY(110vh) rotate(360deg);
        opacity: 0.8;
    }
}